body{
    background-image: url("./fundo.jpg");
    background-position-x: center;
    background-attachment: fixed;
}

header{
    display: flex;
    justify-content: space-between;
}

nav{
    width: 25%;
}

.info{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    ;
}

.menu{
    list-style: none;
    color: white;
    text-decoration: none;
    font-family: 'Fraunces', serif;
}

.logo{
    height: 50px;
    width: 100px;
}

.texto{
    margin: 0%;
    width: 60%;
}

.aplicativo{
    display: flex;
    justify-content: flex-end;
}

.home{
    width: 20%;
}

.login{
    width: 20%;
}

.extra{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}